<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://asmfunction-windows.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/16539669-7edf-4e3c-b52d-d3f1b4c5293a/resourceGroups/ASM-Resource/providers/Microsoft.Web/sites/ASMFunction-Windows</ResourceId>
    <UserName>$ASMFunction-Windows</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://asmfunction-windows.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>