<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://asm-pre-function.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/69f5b2c2-9be2-4a2c-a6eb-28014fd18fda/resourceGroups/ASM2_Group/providers/Microsoft.Web/sites/asm-pre-function</ResourceId>
    <UserName>$asm-pre-function</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://asm-pre-function.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>