<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://asm-pre-functions-br-windows.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2bc3f30b-0651-4cd5-8a49-2eecdf219024/resourceGroups/Vendly-Br-Win/providers/Microsoft.Web/sites/asm-pre-functions-br-windows</ResourceId>
    <UserName>$asm-pre-functions-br-windows</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://asm-pre-functions-br-windows.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>